#title{
  font-family:cursive;
  color: #082a9c;
  margin-left:25%;
  margin-top: 4%;
}
.enviar{
  border-style:none;
  margin-left: 42%;
  margin-top: 6%;
  height: 30;
  width:90;
  background-color:#082a9c;
  font-family: cursive;
  font-size: 16px;
  color: aliceblue;
}
.fundo{
  background-color:#77e2ee;
  width:200px;
  height:50px;
  border-color: rgb(145, 10, 17);
  margin-left: 28%;
  border-style:hidden;
  margin-top: 2%;
}
.digite{
  font-family: cursive;
  text-align: center;
  color: rgb(9, 170, 9);
  margin-left: 13%;
  margin-top: 8%;
  border-style: none;
}
.contorno{ 
  background-color:#eef5f5;
  width:500px;
  height:250px;
  border-color: #082a9c;
  margin-left: 30%;
  border-style:inherit;
  margin-top: 2%;
}
.enunciado{
  margin-left: 450px;
  margin-top: 40px;
  font-size: 18px;
}
