.title
{
  font-family: sans-serif;
  color: #06010c;
  margin-left:14%;
  margin-top: 4%;
  padding-left:0px;
  padding-top: 5px;
  mar
}

.enviar
{
  border-style:dashed;
  margin-left: 40%;
  bottom: 0.5em;
  right:10px;
  background-color:#9c7ba7;
}

.fundo
{
  background-color:#eddfee;
  width:250px;
  height:250px;
  border-color: rgb(145, 10, 84);
  margin-left: 40%;
  border-style:dashed;
  margin-top: 11%;
}
.digite{
  font-family: sans-serif;
    color: rgb(9, 170, 9);
    margin-left: 20%;
}
