.title
{
  font-family: sans-serif;
  color: #06010c;
  margin-left:25%;
  margin-top: 4%;
  padding-left:0px;
  padding-top: 5px;
  
}

.enviar
{
  border-style:dashed;
  margin-left: 40%;
  bottom: 0.5em;
  right:10px;
  background-color:#9c7ba7;
}

.fundo
{
  background-color:#eed709;
  width:250px;
  height:900px;
  border-color: rgb(3, 3, 3);
  margin-left: 40%;
  border-style:dashed;
  margin-top: 11%;
}
.digite{
  font-family: sans-serif;
  color: rgb(181, 199, 16);
  margin-left: 20%;
}
.enunciado{
  margin-left: 525px;
  font-size: 120%;
  margin-top: 30px;
}
